In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('DAT210x/tutorial.csv')

In [3]:
df[0:4]

       col0      col1      col2      col3
0 -0.722876 -1.330682  1.309208  0.232378
1  1.160396 -0.730879  0.677368  1.044722
2 -1.062870 -0.503704 -0.238536 -1.417937
3  0.437078  0.362640 -0.111228 -1.649853

In [4]:
df.loc[0:4, :]

       col0      col1      col2      col3
0 -0.722876 -1.330682  1.309208  0.232378
1  1.160396 -0.730879  0.677368  1.044722
2 -1.062870 -0.503704 -0.238536 -1.417937
3  0.437078  0.362640 -0.111228 -1.649853

In [5]:
df[df.col0 < 0]

       col0      col1      col2      col3
0 -0.722876 -1.330682  1.309208  0.232378
2 -1.062870 -0.503704 -0.238536 -1.417937

In [6]:
df[(df.col0 < 0) | (df.col1 < 0)]

       col0      col1      col2      col3
0 -0.722876 -1.330682  1.309208  0.232378
1  1.160396 -0.730879  0.677368  1.044722
2 -1.062870 -0.503704 -0.238536 -1.417937

In [7]:
df[df < 0] = -100

In [8]:
df

         col0       col1        col2        col3
0 -100.000000 -100.00000    1.309208    0.232378
1    1.160396 -100.00000    0.677368    1.044722
2 -100.000000 -100.00000 -100.000000 -100.000000
3    0.437078    0.36264 -100.000000 -100.000000

In [9]:
df < 0

    col0   col1   col2   col3
0   True   True  False  False
1  False   True  False  False
2   True   True   True   True
3  False  False   True   True